{% extends 'base.html' %}

{% block title %}Chat{% endblock %}

{% block content %}
<h1>Chat</h1>
{% for message in project.messages %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ message.author.name }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">
                {{ message.created }}
            </h6>
            <p class="card-text">{{ message.body }}</p>
        </div>
    </div>
{% endfor %}
{% if current_user.is_authenticated %}
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.body.label }}<br>
        {{ form.body(class="form-control") }}<br>
        {% for error in form.body.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    <div>{{ message }}</div>
</form>
{% endif %}
{% endblock %}
