{% extends 'base.html' %}

{% block title %}
{{ project.title }}
{% endblock %}

{% block content %}
<h1>{{ project.title }}</h1>
<div class="container-fluid">
<div class="row">
<div class="col-8">
    {% if current_user.id == project.leader.id %}
    <a class="btn btn-danger"
       href="/users/{{ project.leader.slug }}/projects/{{ project.slug }}/delete">
        Delete project
    </a>
    <a class="btn btn-warning"
       href="/users/{{ project.leader.slug }}/projects/{{ project.slug }}/create_task">
        Add a task
    </a>
    {% endif %}
    <h3>Tasks</h3>
    {% for task in project.tasks|reverse %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ task.title }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">
                {{ task.created }}
            </h6>
            {% if current_user.id == project.leader.id %}
                <a class="btn btn-danger"
                href="/users/{{ project.leader.slug }}/projects/{{ project.slug }}/tasks/{{ task.id }}">
                Delete Task
                </a>
                {% endif %}
            <p class="card-text">{{ task.description }}</p>
        </div>
    </div>
    {% endfor %}
</div>
<div class="col-4">
    <h3>Chat</h3>
    <a class="btn btn-info"
       href="/users/{{ project.leader.slug }}/projects/{{ project.slug }}/chat">Chat of project</a>
    {% for message in project.messages|reverse %}
    {% if loop.index0 < 3 %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ message.author.name }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">
                {{ message.created }}
            </h6>
            <p class="card-text">{{ message.body }}</p>
        </div>
    </div>
    {% endif %}
    {% endfor %}
    <h3>Members</h3>
    <uL>
    {% for member in project.members %}
    <li>
    <a href="/users/{{ member.slug }}">{{ member.name }}</a>
    {% if current_user.id == project.leader.id %}
        <a class="btn btn-danger"
        href="/users/{{ project.leader.slug }}/projects/{{ project.slug }}/members/{{ member.id }}">
        Delete Member
        </a>
    {% endif %}
    </li>
    {% endfor %}
    </ul>
    {% if current_user.is_authenticated and current_user.id == project.leader.id %}
    <a href="/users/{{ project.leader.slug }}/projects/{{ project.slug }}/add_member"
    class="btn btn-info">Add a member</a>
    {% endif %}
</div>
</div>
</div>
{% endblock %}
